
[Desktop Entry]
Name=time2do Version 0.1
Comment=time2do Version 0.1
Exec=time2go
Icon=/usr/local/share/pixmaps/time2do/time2go-icon.png
Terminal=false
MultipleArgs=false
Type=Application

